<div class="panel panel-primary">
    <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-list table-responsive table-hover"
                           id="users-grid-datable">
                        <thead>
                        <tr>
                            <th>Jméno</th>
                            <th>Přijmení</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr n:foreach="$users as $userData">
                            <td>{$userData['user_name']}</td>
                            <td>{$userData['user_surname']}</td>
                            <td>{$userData['user_email']}</td>
                            <td>{$userData['role_name']}</td>
                            <td><a class="fa fa-pencil" href="{plink edit $userData['user_id']}"></a>
                                <a class="fa fa-trash" href="{link delete! $userData['user_id']}"
                                   data-confirm="Opravdu chcete tohoto uživatele smazat?"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#users-grid-datable').DataTable({
        toggle: 'table',
        autoWidth: false,
        dom: 'frt<"bottom"lp>',
        responsive: true,
        language: {
            lengthMenu: "Počet řádků _MENU_",
            zeroRecords: "Nic nenalezeno",
            info: "Strana _PAGE_ z _PAGES_",
            infoEmpty: "Nic k zobrazení",
            infoFiltered: "(filtered from _MAX_ total records)",
            paginate: {
                next: "&gt",
                previous: "&lt"
            }
        }
    });
</script>