<form n:name="userForm" class="ajax">
	<div class="form-group">
		{label name}
		{input name, class => form-control}
	</div>
	<div class="form-group">
		{label surname}
		{input surname, class => form-control}
	</div>
	<div class="form-group">
		{label email}
		{input email, class => form-control}
	</div>
	<div class="form-group">
		{label password}
		{input password, class => form-control}
	</div>
	<div class="form-group">
		{label role}
		{input role, class => form-control}
	</div>
	{input send, class => 'btn btn-primary'}
</form>